/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh; /* Garante que o corpo da página tenha pelo menos a altura da viewport */
    position: relative; /* Permite posicionamento relativo para garantir que o footer fique no final da viewport */
}

header {
    background-color: #FF6100;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Alinha os itens no header ao longo do eixo principal (horizontal) */
    align-items: center; /* Centraliza os itens verticalmente no header */
}

.logo-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 0;
    color: #000000; /* Cor do texto preto */
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: auto;
}

header {
    background-color: #000000;
    padding: 20px 0; /* Aumenta o padding vertical para dar mais espaço */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between; /* Distribui igualmente o espaço entre os itens */
    margin-top: 10px; /* Espaçamento superior */
    margin-bottom: 10px; /* Espaçamento inferior */
}


nav ul li a {
    color: #FF6100;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem; /* Ajuste o tamanho da fonte conforme necessário */
    padding: 10px 15px; /* Espaçamento interno dos itens */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

nav ul li a:hover {
    color: #ffffff; /* Cor do texto ao passar o mouse */
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    padding: 40px 0;
}

section h2 {
    color: #FF6100;
}

/* Estilo para o Banner */
#banner {
    background-color: #FF6100;
    color: #000000;
    text-align: center;
    padding: 50px 0; /* Reduz o espaçamento interno do banner */
    transition: padding 0.3s ease; /* Transição suave para o padding */
}

#banner img {
    width: 200px; /* Reduz a largura da imagem */
    height: auto; /* Mantém a altura proporcionalmente */
}

#banner .social-icons img {
    width: 40px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: auto;
}

#banner:hover {
    padding: 40px 0; /* Novo padding ao passar o mouse */
}

#banner h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 10px; /* Ajuste o valor conforme necessário */
}

#banner p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Alterado para fixed para manter o footer fixo na parte inferior da janela */
    bottom: 0; /* Posiciona o footer no rodapé da janela */
    width: 100%;
}


#comunicacao img {
    max-width: 800%; /* Aumenta a largura da imagem, garantindo que não ultrapasse o contêiner */
    height: auto; /* Ajusta a altura automaticamente, mantendo a proporção */
    display: block; /* Remove espaço extra abaixo da imagem */
    margin: 10px auto; /* Espaçamento superior e inferior para separar do texto, e 'auto' para centralizar horizontalmente */
    max-height: 800px; /* Altura máxima da imagem */
}

#historia img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do seu contêiner */
    height: auto; /* Ajusta a altura automaticamente, mantendo a proporção */
    display: block; /* Remove espaço extra abaixo da imagem */
    margin: 30px auto; /* Espaçamento superior e inferior para separar do texto, e 'auto' para centralizar horizontalmente */
    margin-top: 30px; /* Espaçamento superior para separar do texto */
    max-height: 300px; /* Altura máxima da imagem */
}

