/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
    position: relative; 
}

header {
    background-color: #FF6100;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header {
    background-color: #000000;
    padding: 20px 0;
    text-align: center; 
}

.logo-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin: 0;
    color: #ffffff; 
}

/* Icones facebook, instagram e whats */
.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px; 
    height: auto;
}


/* Navbar */
nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px; 
    margin: 0;
}

nav ul li a {
    color: #FF6100;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Responsividade do Navbar */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    padding: 40px 0;
}

section h2 {
    color: #FF6100;
}

/* Estilo para o Banner */
#banner {
    background-color: #FF6100;
    color: #000000;
    text-align: center;
    padding: 50px 0; 
    transition: padding 0.3s ease;
}

#banner img {
    width: 200px; 
    height: auto;
}

#banner .social-icons img {
    width: 40px;
    height: auto;
}

#banner:hover {
    padding: 40px 0;
}

#banner h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    letter-spacing: 10px; 
}

#banner p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

/* Seção 1 */
#historia img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 30px auto; 
    margin-top: 30px; 
    max-height: 300px; 
}

/* Seção 2 - Estilos do Carrossel */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;  
}

.carousel-item {
    display: none;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

.carousel-item.active {
    display: block;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.carousel-prev {
    left: 10px;
    transform: translateY(-50%);
}

.carousel-next {
    right: 10px;
    transform: translateY(-50%);
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}
  

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

